@import '../../index.scss';

.pizza {
  background: $mainDarkOrange;
  margin: 2rem 0;
  img {
    width: 100%;
    display: block;
    // min-width: 16rem;
    // height: auto;
  }
  &:hover .close-btn {
    opacity: 1;
  }
}

.pizza-info {
  position: relative;
  padding: 1rem 0.5rem;
  h2 {
    text-transform: uppercase;
    margin-bottom: 0.6rem;
  }
  h4 span {
    margin-left: 0.6rem;
    cursor: pointer;
  }
  
  .close-btn {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 1.5rem;
    cursor: pointer;
    transition: $mainTransition;
    opacity: 0;
  }
}


// Media Query
@media screen and (min-width: 768px) {
  .pizza {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 1rem;
  }
}