@import '../../index.scss';

.logo {
  width: 5rem;
  fill: white;
}

.navbar {
  background: $mainDarkOrange;
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.nav-link {
  color: $mainGray;
  text-transform: uppercase;
  text-decoration: none;
  // transition: all 0.2s linear;
  font-size: 1.2rem;
  font-weight: 700;
  &:hover {
    border-bottom: solid 0.2rem;
  }
}

.active {
  border-bottom: solid 0.2rem;
}